.container{
      width: 100%;
      height: 3em;
      background-color: rgba(128, 128, 128, 0.332);
}
.content{
      display: flex;
      justify-content: space-evenly;
}


@media print{
      .container{
            display: none;
      }
}