<div class="container">
      <div class="grid">
            <div class="header">
                  <div class="client">
                        <p>Client:</p>
                        <input type="text" name="numeclient" placeholder="Name...">
                        <textarea name="adresa"></textarea>
                        <input type="text" name="telefon">
                  </div>
                  <div class="imgcontainer">
                        <img src="assets/logo5.png" alt="logo">
                  </div>
                  <div class="text">                 
                        <p>Vielen Dank für Ihren Auftrag und Ihre Vertrauen.</p>
                        <p>Data</p>
                        <p>Für unsere Arbeit und Material stellen Ihnen folgende Summe in Rechnung:</p>
                  </div>
            </div>
            <div class="content">
                  <form #articol="ngForm" >
                        <div *ngFor="let i of i">
                        <input type="text" name="nume{{i}}" ngModel>
                        <input type="number" name="bucati{{i}}" ngModel>
                        <input type="number" name ="pret{{i}}"  ngModel>
                        <input type="number" name="total{{i}}" [value]='suma(articol,i)' disabled ngModel >
                        <button (click)=addInput() *ngIf="i==x">add</button>
                        </div>
                        <div>
                              <p>Netto:</p>
                              <input type="number" name="netto" [value]='netto(articol)' disabled>
                        </div>
                        
                  </form>
                  
            </div>
            
            <div class="footer">
                  <hr>
                  <p>asgdhjasgdhs</p>
            </div>
      </div>
</div>