.container{
      padding: 3rem;
      
}
.grid{
      min-height: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto 1fr auto;
      
}
.header{
      grid-row: 1;
      display: grid;
      row-gap: 2em;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;
      input{
            border: none;
            background-color:rgba(128, 128, 128, 0.247);
            height: 2.6em;
            width: 100%;
      }
      p{
            font-family: 'Dancing Script', cursive;
            font-size: 21px;
      }
      .date{
            width: 60%;
            display: flex;
            justify-content: space-between;
      }
      .text{
            grid-row: 2;
            grid-column: span 3;

      }
      .imgcontainer{
            grid-row: 1;
            grid-column: 3;
            img{
                  height: 10rem;
            }
      }
      .client{
            display: flex;
            margin:  0 auto;
            width: 80%;
            vertical-align: top;
      }
}


.content{
      grid-row: 2;
      display:grid;
      grid-template-columns: 5em 30em 5em 10em 10em 3em ;
      grid-template-rows: auto;
      grid-gap: 0.5em;
      margin: 1em auto;
      input{
            height: 2.6em;
            border: none;
            text-align: center;
            background-color:rgba(128, 128, 128, 0.247);
            
      }
      input:disabled{
            background-color: rgba(128, 128, 128, 0.392);
      }
      p{
            text-align: center;
            font-size: 1.3em;
            max-height: 3em;
      }
      a{    grid-column: 1;
            border: none;
            background-color: rgb(166, 237, 134);
            text-align: center;
            max-height: 2em;
      }
      .minus{
            grid-column: 6;
            background-color: rgba(255, 0, 0, 0.332);
      }
      .pos{
            grid-column: 1;
            background-color:rgba(128, 128, 128, 0.392);
      }
      .art{
            grid-column: 2;
            background-color:rgba(128, 128, 128, 0.247);
      }
      .anz{
            grid-column: 3;
            background-color:rgba(128, 128, 128, 0.392) ;
      }
      .pret{
            grid-column: 4;
            background-color:rgba(128, 128, 128, 0.247);
      }
      .summe{
           grid-column: 5;
           background-color:rgba(128, 128, 128, 0.392); 
      }
      .nume{
            grid-column: 2;
      }
      .bucati{
            background-color:rgba(128, 128, 128, 0.392);
      }
      .label{
            max-width: 60%;
      }
      .netto{         
            grid-column: 5;
            div{
                  display: flex;
                  justify-content: flex-end;
            }
      }

}
.footer{
      grid-row: 3;
}
