.container{
      padding: 3rem;
}
.header{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      .searchform{
            grid-column: 1;
      }
      .search{
            border: none;
            background-color:rgba(128, 128, 128, 0.247);
            height: 2.6em;
            width: 100%;
            border-radius: 15px;
            padding-left: 25px;
      }
      
      img{
            height: 12em;
      }
      .imgcontainer{
            grid-column: 3;
            
      }
}

.contcont{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 5em;
      
}
.text{
      .date{
            display: flex;
            justify-content: space-between;
            max-width: 80%;
      }
      p{
            font-family:'Times New Roman', Times, serif;
            font-size: 18px;
      }
}
.content{
      display:grid;
      grid-template-columns: 4em 0.9fr repeat(3,7em) 4em ;
      grid-template-rows: auto;
      row-gap: 0.2em;
      width: 100%;
      margin-top: 3em;
      input{
            height: 2.6em;
            border: none;
            text-align: center;
            background-color:rgba(128, 128, 128, 0.247);
            
      }
      input:disabled{
            background-color: rgba(128, 128, 128, 0.392);
      }
      p{
            text-align: center;
            font-size: 1.3em;
            max-height: 3em;
      }
      .pos{
            grid-column: 1;
            background-color:rgba(128, 128, 128, 0.392);
      }
      .art{
            grid-column: 2;
            background-color:rgba(128, 128, 128, 0.247);
      }
      .anz{
            grid-column: 3;
            background-color:rgba(128, 128, 128, 0.392) ;
      }
      .pret{
            grid-column: 4;
            background-color:rgba(128, 128, 128, 0.247);
      }
      .summe{
           grid-column: 5;
           background-color:rgba(128, 128, 128, 0.392); 
      }
      .nume{
            grid-column: 2;
      }
      .bucati{
            background-color:rgba(128, 128, 128, 0.392);
      }
            
      .netto{       
            background-color: white;
            grid-column: 5;  
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            margin-top: 2em;
            div{
                  display: flex;
                  justify-content: flex-end;
            }
      }

}
.plusminus{
      display: flex;
      flex-direction: column;
      gap: 1em;
      position: fixed;
      right: 3rem;
      top: 70%;
      text-align: center;
      border-radius: 50%;
      a{
            padding: 1em;
            border-radius: 50%;
      }
      .plus{
            background-color: rgb(166, 237, 134);
      }
      .minus{
            background-color: rgba(255, 0, 0, 0.355);
      }
}

.footer{
      display: none;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 11px;
      line-height: 0.5;
      .footertext{
            position:relative;
            display: flex;
            justify-content: space-evenly;
      }
}
.save{
      max-width: 90%;
      margin-top: 3em;
      position: fixed;
      bottom: 2rem;
      left: 5rem;
      display: flex;
      justify-content: flex-end;
      
       button{
      color: rgb(255, 255, 255);
      letter-spacing: 1px;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: rgb(166, 237, 134);
      }
}
@media print{
      .container{
            display: flex;
            justify-content: space-evenly;
      }
      .text{
            margin-left: 2em;
      }
      .content{
            grid-template-columns: 4em 20em repeat(3,6em) 4em ;
            input{
                  height: 1.5em;
                  line-height: 1;
                  font-size: 11px;
            }
      }
      .footer{
            display:block;
                       
     }
     .plusminus{
            display: none;
     }
     .save{
      display: none;
     }
 }