<div class="container" id="container">
      <div class="grid">
            <div class="header">
                        <form class="searchform">
                              <input type="text" class="search" placeholder="Suchen..." required [formControl]="searchControl" [matAutocomplete] = 'auto'>
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearchClient() ;searchControl.markAsUntouched" >
                                    <mat-option *ngFor="let option of filteredoptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                              </form>
                  <div class="clientdata" id="clientdata">
                        <form [formGroup]="showclient">
                              <input type="text" formControlName="numeclient">
                              <input type="text" formControlName="adresaclient">
                              <input type="text" formControlName="telefonclient">
                        </form>
                        
                  </div>
                  <div class="imgcontainer">
                        <img src="assets/logo.png" alt="logo">
                  </div>
                  
            </div>
                  
                        
                 <div class="contcont" id="contcont">
                  <div class="text"> 
                        <p>Rechnung Nummer:{{nrfactura}}</p>                
                        <p>Vielen Dank für Ihren Auftrag und Ihre Vertrauen.</p>
                        <div class="date">
                        <p>Für unsere Arbeit und Material stellen Ihnen folgende Summe in Rechnung:</p>
                        <p>{{datenow}}</p>                       
                        </div>
                  </div>
                  <form class="content" id="content" #articol="ngForm"  >
                        <input class="pos" value="Pos." disabled>
                        <input class="art" value="Artikel" disabled>
                        <input class="anz" value="Menge"disabled>
                        <input class="pret" value="Einzelpreis" disabled>
                        <input class="summe" value="Summe" disabled>
                        <ng-container class="tabel" *ngFor="let i of i" >
                              <input class="pos" name="pos{{i}}" [value]="i" @enterleave  disabled>
                        <input type="text" class="name"  name="nume{{i}}" @enterleave ngModel>
                        <input type="number" class="bucati"   name="bucati{{i}}" @enterleave ngModel>
                        <input type="number" class="pret"  name ="pret{{i}}" @enterleave  ngModel>
                        <input type="number" class="total"  name="total{{i}}" @enterleave [value]='suma(articol,i)' disabled ngModel >
                        
                        </ng-container>

                              <div class="netto">
                                    <div>
                              <input class="label" value="Netto">
                              <input type="number" name="netto" class="value" [value]='netto(articol)' disabled>
                                    </div>
                              <div>
                              <input class="label" value="MwSt 19%">
                              <input type="number" name="netto" class="value" [value]='tva(articol)' disabled>
                              </div>
                              <div>
                              <input class="label" value="Total">
                              <input type="number" name="netto" class="value" [value]='total(articol)' disabled>
                              </div>
                        </div>
                        
                  </form>
                  <div class="save">
                  <button mat-raised-button (click)="exportPdf()" data-html2canvas-ignore="true" >Speichern</button>
                 </div>             
            
           
      </div>
</div>
     
</div>
<div class="plusminus">
      <button mat-fab (click)=removeInput(x) class="minus" data-html2canvas-ignore="true"><mat-icon class="actionslabel">delete_outline</mat-icon></button>
      <button mat-fab (click)=addInput() class="plus" data-html2canvas-ignore="true" ><mat-icon class="actionslabel">add</mat-icon></button>
</div>
<div class="footer" id="footer">
      <hr>
      <div class="footertext">
      <div >
            <p>MyPapService24H</p>
            <p>Email: mypapservice24@gmail.com</p>
            <p>CIF BT : CJ37072</p>
      </div>
      <div>
            <p>Banca Transilvania</p>
            <p>Euro : RO67 BTRLE URCR T0CJ 3707 201</p>
            <p>RON : RO23 BTRL RONC RT0C J370 721</p>
      </div>
      </div>