
.lista{
      width: 80%;
      display: flex;
      justify-content: space-evenly;
}
.titel{
      font-size: large;
      font-weight: 800;
}
input{
      /* outline: none; */
      /* border: none; */
      cursor: pointer;
      text-align: center;
}
textarea{
      /* border: none; */
}
.suma{
      width: 80%;
      text-align: end;
}
.top{
      display: flex;
      justify-content: space-between;
}
img{
      height: 15rem;
      
}
.footer{
      display: flex;
      justify-content: space-evenly;
      font-size: 0.7em;
}